<% include ../header%>
<div class="registeration">
    <div class="register-wrap" >
		<div class="pier-form text-center" style="height:540px;">
			<div style="width:324px;margin:0 auto;">
				<img src="http://pierup.cn:4000/images/tick.png" style="margin-top:140px;">
				<h2 style="font-size:24px;font-weight:lighter;color:#7b37a6;">修改登录密码成功</h2>
				<br>
				<p>今后将使用新的登录密码，请妥善保管好你的密码。</p>
			</div>
		</div>
	</div>
</div>



