<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>品而支付</title>
	<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/checkoutSdk.css">
	<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/angular/angular.min.js"></script>
</head>
<body <% if(location=='checkout'){%>class="checkout-body"<%}%> >
    <div class="container hidden-xs" >
	    <div class="row header">
		    <div class="col-md-4 col-sm-4">
				<img src="/images/pierlogo38.png" />
				<span class="logo-name">品而信用</span>
			</div>
			<!-- <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4 ">
				<span class="pull-right nav-back">已有账号？<a href="/">立刻支付</a></span>
			</div> -->
	    </div>
    </div>
</body>
</html>