<div class="container text-center footer" >
    <ul>
      <li><a href="http://pierup.cn/about" target="_blank">关于品而</a></li>
      <li><a href="http://pierup.cn/faq" target="_blank">常见问题</a></li>
      <li><a href="http://pierup.cn/joinus" target="_blank">加入我们</a></li>
    </ul>
    <p>上海品而数据科技有限公司版权所有 ICP证：沪ICP备 15030111</p>
</div>