<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body >
    
    <div class="container text-center">
        <div class="content">
            <div class="pier-form">
                <div class="text-center" style="margin-top:120px;">
                    <img src="../../images/failed.png" />
                    <h2 style="font-weight:lighter;color:red;">出错啦</h2>
                    <p><%=error%></p>
                </div>
                <br><br><br><br>
            </div>
        </div>
    </div>
</body>
</html>
<% include ../footer%>


