<% include ../header%>
<script src="/user/addPin/addPin.js"></script>
<div class="registeration" ng-app="AddPinApp" ng-controller="PayPsdController">
    <div class="register-wrap" >
		<div class="title">
			<p>添加您的银行卡</p>
		</div>
		<div class="pier-form" >
			<form class="form-horizontal registerForm" name="setPinForm" id="setPinForm" action="/checkout/SetPin" method="POST">
				<input type="hidden" value="<%=merchant_id%>" name="merchant_id" id="merchantId"/>
				<input type="hidden" value="<%=order_id%>" name="order_id" id="orderId"/>
				<br><br>
				<article class="text-center"> 
				    <h4 style="margin-bottom:60px;">由于您还没有绑定银行卡，您需要先通过设置您的支付密码来帮定银行卡，然后您才能进行支付。</h4>
			    </article>
			    <article> 
				    <p class="register-error" ng-show="psdNotRight" ng-cloak>您输入的支付密码必须为6位数字</p> 
				    <div class="register-group">
					    <section class="section1" >
				    	    <label for="payPsd">设置支付密码:</label>
					    </section>
					    <section class="section2">
				    	    <input class="form-control" placeholder="请设置您的支付密码" name="password"  id="payPsd" type="password" ng-model="payPsd"  ng-focus="payPsdTip=true" ng-blur="payPsdTip=false;validatePsd()" maxlength="6"  number-only-input required/>
					    </section>
					    <section class="section3" >
						    <p ng-show="payPsdTip">支付密码为6位数字组合</p>
					    </section>
				    </div>
			    </article>
			    <article> 
				    <p class="register-error" ng-show="psdNotMatch" ng-cloak>您两次输入的密码不符，请重新输入</p> 
				    <div class="register-group">
					    <section class="section1">
				    	    <label for="payPsdConfirm">确认支付密码:</label>
					    </section>
					    <section class="section2">
				    	    <input class="form-control" placeholder="请确认您的支付密码" name="payPsdConfirm"  type="password" id="payPsdConfirm" number-only-input ng-model="payPsdConfirm" ng-blur="validatePsdMatch()" maxlength="6" required/>
					    </section>
					    <section class="section3" >
					    </section>
				    </div>
			    </article>
			    <br>
			    <article>
				    <p class="register-error"  ng-cloak><%=errorMsg%></p> 
				    <div class="register-group">
					    <section class="section1">
				    	    <label for="inviteCode"></label>
					    </section>
					    <section class="section2" >
				    	    <button type="button" ng-click="next()">下一步&nbsp;&nbsp;<i class="fa fa-gear fa-spin" ng-show="setPsdFlag" ></i></button>
					    </section>
					    <section class="section3">
				    	    <p ></p>
					    </section>
				    </div>
			    </article>
			</form>
		</div>
	</div>
</div>

<% include ../footer%>