<% include ../checkout-header%>

<div class="container pt-0" ng-app="PaymentApp" ng-controller="PaymentController">
    <div class="content" >
		<div class="title">
			<p>支付</p>
    	</div>
    	<div class="pier-form" style="padding:40px;">
	    	<div class="description">
			    <div class="merchant-info">
			        <h4><span class="gray">收款商户名称: </span><%=merchant_name%></h4>
			        <p></p>
			    </div>
			    <div class="merchant-amount">
			        <h2><%=amount%> <span style="font-size:24px"> <%=currency%></span> </h2>
			    </div>
			</div>
			<form name="paymentForm" class="paymentForm" id="paymentForm" action="/checkout/pay" method="POST">
				<article> 
					<p class="register-error"><%=errorMsg%></p>
				    <div class="register-group">
					    <section class="section1">
				    	    <label for="payPassword">支付密码:</label>
					    </section>
					    <section class="section2">
				    	    <input class="form-control" type="password" placeholder="请输入品而信用支付密码" name="payPassword"  id="payPassword" ng-model="payPassword" number-only-input maxlength="6" required/>
					    </section>
					    <section class="section3" >
						    <p><a href="/user/resetPayPassword" target="_blank" style="color:#7b37a6;">忘记支付密码</a></p>
					    </section>
				    </div>
			    </article>
			    <article>
				    <p ng-show="smsError" class="register-error">{{smsErrorMsg}}</p>
				    <div class="register-group">
					    <section class="section1">
				    	    <label for="validCode">动态验证码:</label>
					    </section>
					    <section class="section2" style="padding-left:8px;padding-right:8px;">
				    	    <input class="form-control valid-code-input" placeholder="请输入动态验证码" name="validCode" id="validCode" ng-model="smsCode" ng-blur="verifyActivateCode()" required/>
					    	<button class="code-btn" type="button" ng-disabled="hasSendCode" ng-click="getValidCode()">{{timeHandler}}&nbsp;&nbsp;<i class="fa fa-gear fa-spin" ng-show="sendCodeFlag"  ></i></button>
					    </section>
					    <section class="section3" >
					    </section>
				    </div>
			    </article>
			    <article style="margin-top:20px;">
				    <div class="register-group">
					    <section class="section1">
				    	    <label for="inviteCode"></label>
					    </section>
					    <section class="section2" >
				    	    <button type="button" ng-click="payment()">确认支付&nbsp;&nbsp;<i class="fa fa-gear fa-spin" ng-show="payFlag"  ></i></button>
					    </section>
					    <section class="section3">
				    	    <p ></p>
					    </section>
				    </div>
			    </article>
		    </form>
		    <br><br><br>
    	</div>
    </div>
    <!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
	   aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog" style="width:300px;margin-top:200px;">
	      <div class="modal-content">
	         <div class="modal-body">
	            {{sessionMsg}}
	         </div>
	         <div class="modal-footer">
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal" onclick="window.location.href='/checkout/login'">确定
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	  </div>
	</div><!-- /.modal -->
</div>

<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/payment-v1.js"></script>
<% include ../footer%>