<% include ../header%>
<div class="registeration">
    <div class="register-wrap" >
		<div class="title">
			<p>注册</p>
		</div>
		<div class="pier-form" style="height:540px;">
			<div class="register-process">
				<div style="width:100%;height:2px;background:#fff;"></div>
			    <div style="width:100%;height:1px;background:rgb(200,200,200);"></div>
			    <div class="process1 process active">
			        <div class="circle ">1</div> 
			        <p>创建账户</p>
			    </div>
			    <div class="process2 process active">
			        <div class="circle">2</div> 
			        <p>输入身份证信息</p>
			    </div>
			    <div class="process3 process active" >
			        <div class="circle ">3</div> 
			        <p>设置支付密码</p>
			    </div>
			    <div class="process4 process active" >
			        <div class="circle ">4</div> 
			        <p>绑定银行卡</p>
			    </div>
			    <div class="process5 process active" >
			        <div class="circle ">5</div> 
			        <p>确认申请</p>
			    </div>
			</div>
			<div class=" text-center">
	            <h2 style="margin-top:80px;">申请成功</h2>
	            <p style="font-size:16px; color:#756F6F;">您的初步信用额度为:</p>
	            <h1 style="font-size:52px;color:#7b37a6;margin-top:30px;"><span style="font-size:30px">￥</span><%=result.credit_limit%></h1>
			</div>
			<form class="form-horizontal registerForm" style="margin-top:90px;">
				<article>
				    <div class="register-group">
					    <section class="section1">
				    	    <label ></label>
					    </section>
					    <section class="section2" >
				    	    <!-- <button type="button" onclick="window.location.href='/checkout/login'" >去结算</button> -->
				    	    <p>恭喜你，成为品而用户!</p>
					    </section>
					    <section class="section3">
				    	    <p ></p>
					    </section>
				    </div>
			    </article>
		    </form>
		</div>
	</div>
</div>
<% include ../footer%>

