<% include ../checkout-header%>
<div class="container pt-0">
    <div class="content" >
		<div class="title">
			<p>支付</p>
    	</div>
    	<div class="pier-form" style="padding:40px;">
	    	<div class="description">
			    <div class="merchant-info">
			        <h4><span class="gray">收款商户名称: </span><%=merchant_name%></h4>
			        <p></p>
			    </div>
			    <div class="merchant-amount">
			        <h2><%=amount%> <span style="font-size:24px"> CNY</span> </h2>
			    </div>
			</div>

			<div class="text-center" style="margin-top:120px;">
                <img src="../images/tick.png" />
                <h2 style="font-weight:lighter;color:#7b37a6;">支付成功</h2>
                <p><a href="<%=return_url%>">返回商家查看订单详情</a></p>
			</div>
			<br><br><br><br>
    	</div>
    </div>
</div>
<% include ../footer%>