<div ng-show="dataLoading" style="text-align:center;">
	<h2 class="text-center;"><i class="fa fa-spin fa-spinner"></i> 正在加载数据</h2>
</div>
<form class="form-horizontal registerForm" ng-hide="dataLoading" action="/user/apply?action=10015" method="post">
<br><br>
    <article> 
	    <div class="register-group">
		    <section class="section1" >
		    </section>
		    <section class="section2">
	    	    <h4 style="font-size:26px;">请确认您的申请信息</h4>
		    </section>
		    <section class="section3" >
		    </section>
	    </div>
    </article>
    <article> 
	    <div class="register-group">
		    <section class="section1" ><label >姓名:</label></section>
		    <section class="section2"><h4>{{userObj.name}}</h4></section>
	    </div>
    </article>
    <article> 
	    <div class="register-group">
		    <section class="section1" ><label >身份证号:</label></section>
		    <section class="section2"><h4>{{userObj.id_number}}</h4></section>
	    </div>
    </article>
    <article> 
        <p class="register-error" ng-show="emailNotRight&&editStatus">{{saveErrorMsg}}</p> 
	    <div class="register-group">
		    <section class="section1" ><label >常用邮箱:</label></section>
		    <section class="section2" ng-hide="editStatus"><h4>{{userObj.email}}</h4></section>
		    <section class="section2" ng-show="editStatus">
		    	<input class="form-control inputMailList" placeholder="请输入您的常用邮箱"  id="email" ng-model="email"  id="email" autocomplete="off" />
		    </section>
		    <section class="section3" ng-hide="editStatus"><span style="cursor:pointer;" ng-click="changeEditStatus()"><i class="fa fa-edit fa-lg"></i>&nbsp;&nbsp;&nbsp;修改 <span></section>
		    <section class="section3" ng-show="editStatus"><button class="email-modify-btn" ng-click="
		    cancelEdit()" type="button">取消</button>&nbsp;&nbsp;&nbsp;<button class="email-modify-btn" ng-click="saveEmail()" type="button">保存<i class="fa fa-gear fa-spin" ng-show="saveEmailFlag" ></i></button></section>
	    </div>
    </article>
    <article ng-repeat="bankCard in bankCards"> 
	    <div class="register-group">
		    <section class="section1" ><label >银行卡:</label></section>
		    <section class="section2"><h4>{{bankCard.card_num}}</h4></section>
		    <section class="section3"><p>{{bankCard.bank_name}} &nbsp;&nbsp;{{bankCard.card_type || '借记卡'}}</p> </section>
	    </div>
    </article>
    <br>
    <article >
	    <p class="register-error" ng-show="setPayError">{{setPayErrorMsg}}</p> 
	    <div class="register-group">
		    <section class="section1">
	    	    <label for="inviteCode"></label>
		    </section>
		    <section class="section2" >
			    <input type="hidden" name="user_id" value={{user.user_id}} />
			    <input type="hidden" name="session_token" value={{user.session_token}} />
	    	    <button type="submit" ng-hide="editStatus">下一步</button>
		    </section>
		    <section class="section3">
	    	    <p ></p>
		    </section>
	    </div>
    </article>
</form>

<script src="jquery.mailAutoComplete-3.1.js"></script>
<script type="text/javascript">
	$(function(){
		$('.inputMailList').mailAutoComplete();
	})
</script>