<form class="form-horizontal registerForm" >
    <br><br>
    <article> 
	    <p class="register-error" ng-show="phoneError">你的手机号必须是{{phoneLength}}位</p>
	    <div class="register-group">
		    <section class="section1">
	    	    <label for="phone">手机号:</label>
		    </section>
		    <section class="section2">
	    	    <input class="form-control" placeholder="请输入中国大陆手机号码" name="phone" maxlength="{{phoneLength}}" id="phone" ng-model="phone" number-only-input  ng-change="phoneChange()" ng-blur="phoneTip=false" ng-focus="phoneTip=true" required/>
		    </section>
		    <section class="section3" >
	    	    <p ng-show="phoneTip">输入的手机号码将作为用户名</p>
		    </section>
	    </div>
    </article>
    <article>
        <p class="register-error" ng-show="smsError">{{smsErrorMsg}}</p> 
	    <div class="register-group">
		    <section class="section1">
	    	    <label for="smsCode">短信验证码:</label>
		    </section>
		    <section class="section2" style="padding-left:8px;padding-right:8px;">
	    	    <input class="form-control valid-code-input" placeholder="请输入短信验证码" name="smsCode" id="smsCode" ng-model="smsCode" ng-blur="verifyActivateCode()" ng-disabled="timeHandler == checkCode.right" required/>
		    	<button class="code-btn" type="button" ng-disabled="hasSendCode" ng-click="getValidCode()">{{timeHandler}}&nbsp;&nbsp;<i class="fa fa-gear fa-spin" ng-show="sendCodeFlag"  ></i></button>
		    </section>
		    <section class="section3">
	    	    <p></p>
		    </section>
	    </div>
    </article>

    <article>
        <p class="register-error" ng-show="passwordNotRight">密码不符合格式</p> 
	    <div class="register-group">
		    <section class="section1">
	    	    <label for="password">设置密码:</label>
		    </section>
		    <section class="section2" >
	    	    <input class="form-control" type="password" placeholder="请设置您的登入密码" name="password" id="password" ng-model="password"  maxlength="32" ng-blur="validPassword();passwordTip=false" ng-focus="passwordTip=true" required/>
		    </section>
		    <section class="section3">
	    	    <p ng-show='passwordTip'>密码至少大于6位，包含字母和数字</p>
		    </section>
	    </div>
    </article>

    <article>
        <p class="register-error" ng-show="passwordNotMatch">密码不匹配</p> 
	    <div class="register-group">
		    <section class="section1">
	    	    <label for="passwordConfirm">确认密码:</label>
		    </section>
		    <section class="section2" >
	    	    <input class="form-control" type="password" placeholder="请再次输入您的密码" name="passwordConfirm" id="passwordConfirm" ng-model="passwordConfirm"  maxlength="32" ng-blur="validateMatch()" required/>
		    </section>
		    <section class="section3">
	    	    <p ></p>
		    </section>
	    </div>

    </article>

    <article>
	    <div class="register-group">
		    <section class="section1">
	    	    <label for="inviteCode">邀请码:</label>
		    </section>
		    <section class="section2" >
	    	    <input class="form-control" type="text" placeholder="若无邀请码请留空" name="inviteCode" id="inviteCode" ng-model="inviteCode"  />
		    </section>
		    <section class="section3">
	    	    <p ><div class="text-center mark">?</div></p>
		    </section>
	    </div>
	    <p style="margin-left:296px;"> 
		    <input type="checkbox" name="serviceRule" ng-model="serviceRule"/>
		    <span for="serviceRule">同意</span>
		    <a style="color:#7b37a6">《品而服务条款》</a>
	    </p>
    </article>
    <br>

    <article>
	    <p class="register-error" ng-show="signUpError">{{signUpErrorMsg}}</p>
	    <div class="register-group">
		    <section class="section1">
	    	    <label for="inviteCode"></label>
		    </section>
		    <section class="section2" >
	    	    <button type="submit" ng-click="signUp()">下一步&nbsp;&nbsp;<i class="fa fa-gear fa-spin" ng-show="signUpFlag"  ></i></button>
		    </section>
		    <section class="section3">
	    	    <p ></p>
		    </section>
	    </div>
    </article>
</form>
