<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PierPayBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PierPaySDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A39BC211A2EE81300B9D551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A39BC2C1A2EE81300B9D551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AF42D8B1A306CC90076DEC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
