<% include ../header%>
<div class="container-fluid">
    <div class="row text-center">
	    <img src="../../images/applySuccess.png" style="width:6em;margin-top:4em;">
	    <h2 style="margin-top:30px;font-weight:lighter;">申请失败!</h2>
	    <p><span style="font-size:1.2em;"><%=message%></p>
    </div>
</div>
