<% include ../header%>
<div class="container-fluid">
    <div class="row text-center">
	    <img src="../../images/applySuccess.png" style="width:6em;margin-top:4em;">
	    <h2 style="margin-top:30px;font-weight:lighter;">申请成功!</h2>
	    <p style="font-size:1.4em;">您初步的信用额度为：</p>
	    <h1 style="font-size:52px;color:#7b37a6;margin-top:30px;"><span style="font-size:30px">￥</span><%=result.credit_limit%></h1>
    </div>
</div>


